<article class="post-item">
    <h2 class="post-item-title"><%= post.title %></h2>
    <p class="post-item-author">By:<%= post.author_name  %></p>
    <p class="post-item-summary"><%= post.summary %></p>
    <p class="post-item-body"><%= post.body %></p>
    <div class="post-actions">
        <button class="btn delete-btn">Delete Post</button>
        <a href="/posts/<%= post.id %>/edit" class="btn edit-btn">Edit Post</a>
        <a href="/posts/<%= post.id %>" class="btn view-btn">View Post</a>
    </div>
</article>